<html>
  <head>
  </head>
  <body>
    Hi <%=h @user.login %>,<br/><br/>
    Issue: <%=h @issue.short_description %><br/><br/>
    Recent Comment: <%= @post.message %><br/><br/>
    Visit this url to check Comment:<br/><br/>
    <a href="<%=h @url %>"><%=h @url %></a><br/><br/><br/>
   </body>
</html>