<%  
@login = User.find_by_id(@issue.assigned_to).login
@days = ((Time.now - @issue.created_at)/(3600*24)).to_i
visit = Visit.find_by_user_id_and_issue_id(current_user.id,@issue.id)
@new_posts = Post.find_all_by_issue_id(@issue.id,:conditions => ['created_at > ?',visit.visited_at])
@posts = Post.find_all_by_issue_id(@issue.id)
%>
<tr>
  <td width="505"><a href="/issues/show/<%=h @issue.id%>"><%=h @issue.short_description[0..70] %></a></td>
  <td width="50">
    <% if @posts.length > 0 %>
      <%= @posts.length %>
      <% if @new_posts.length >= 1 %>
        <img src="/images/green_bubble.png"/>
      <%else%>
        <img src="/images/bubble.png"/>
      <% end %>
    <%end%>
  </td>
  <td width="60">
       <%= @issue.status %>
  </td>
  <td width="60"><%=h @login %></td>
  <td width="60">
    <% if @days == 0 %>
      Today
    <% elsif @days == 1 %>
      Yesterday
    <% elsif @days > 1 %>
      <%= @days %> days
    <% end %>
  </td>
</tr>