<table width="735">
  <% @open_features.each do |feature|
    login = User.find_by_id(feature.assigned_to).login
    visit = Visit.find_by_user_id_and_issue_id(current_user.id,feature.id)
    @new_posts = Post.find_all_by_issue_id(feature.id,:conditions => ['created_at > ?',visit.visited_at])
    @posts = Post.find_all_by_issue_id(feature.id)
  %>
    <tr>
      <td width="505"><a href="/issues/show/<%=h feature.id%>"><%=h feature.short_description[0..70] %></a></td>
      <td width="50">
        <%if @posts.length !=0%>
        <%= @posts.length %>
        <% if @new_posts.length >= 1 %>
          <img src="/images/new_comment.png"/>
        <%else%>
          <img src="/images/comment.png"/>
        <% end %>
        <%end%>
      </td>
      <td width="60"></td>
      <td width="60"><%=h login %></td>
      <td width="60"><%=h ((Time.now - feature.created_at)/(3600*24)).to_i %> Days</td>
    </tr>
  <%end%>

  <% @closed_features.each do |feature|
    login = User.find_by_id(feature.assigned_to).login
    days = ((Time.now - feature.created_at)/(3600*24)).to_i
  %>
    <% if days <= 7 %>
      <tr>
        <td width="505"><a href="/issues/show/<%=h feature.id%>"><%=h feature.short_description[0..70] %></a></td>
        <td width="50"></td>
        <td width="60"><%=h feature.status %></td>
        <td width="60"><%=h login %></td>
        <td width="60"><%=h days %> Days</td>
      </tr>
    <% end %>
  <%end%>
</table>
