<div id="my_issues_title_right">
  <a id="user_everything" href="/issues/user_issues/<%=current_user.id %>"> Everything </a>~
  <a id="user_bugs" href="/issues/user_bugs/<%=current_user.id %>"> Bugs </a>~
  <a id="user_features" href="/issues/user_features/<%=current_user.id %>"> Features </a>~
  <a id="user_enhancements" href="/issues/user_enhancements/<%=current_user.id %>"> Enhancements </a>~
  <a id="user_tasks" href="/issues/user_tasks/<%=current_user.id %>"> Tasks </a>~
  <a id="user_questions"href="/issues/user_queries/<%=current_user.id %>"> Queries </a>
</div>
