<%= stylesheet_link_tag 'my_style' %>
<%= stylesheet_link_tag 'new_bug' %>
<div class="writeboardtitle">
<h3>Edit issue</h3>
<a id="home" href="/issues/user_issues/<%= current_user.id %>">Home</a>
</div>
<form action="/issues/update/<%=@issue.id%>" class="edit_issue" enctype="multipart/form-data" id="edit_issue_<% @issue.id %>" method="post">
  <p>
    Summary<br/>
    <input id="issue_short_description" name="issue[short_description]" size="66" maxlength="60" type="text" value="<%= @issue.short_description %>"/>
  </p>
  <p>
    <label for="issue_detailed_description">Detailed description</label><br />
    <textarea cols="58" id="issue_detailed_description" name="issue[detailed_description]" rows="10" value="<%= @issue.detailed_description %>"></textarea>
  </p>
  <p>
    Issue Type:
    <select name="issue[issue_type]">
      <option value="Bug"<% if @issue.issue_type == "Bug" then %> selected  <% end %>>Bug</option>
      <option value="Feature"<% if @issue.issue_type == "Feature" then %> selected <% end %>>Feature</option>
      <option value="Enhancement"<% if @issue.issue_type == "Enhancement" then %> selected  <% end %>>Enhancement</option>
      <option value="Task"<% if @issue.issue_type == "Task" then %> selected  <% end %>>Task</option>
      <option value="Query"<% if @issue.issue_type == "Query" then %> selected  <% end %>>Query</option>
    </select>
  </p>
  <p>
    Status:
    <select name="issue[status]">
      <option value="Open" <% if @issue.status == "Open" then %> selected  <% end %>>Open</option>
      <option value="Fixed" <% if @issue.status == "Fixed" then %> selected  <% end %>>Fixed</option>
      <option value="Devdone" <% if @issue.status == "Devdone" then %> selected  <% end %>>Devdone</option>
      <option value="Tested" <% if @issue.status == "Tested" then %> selected  <% end %>>Tested</option>
      <option value="Answered" <% if @issue.status == "Answered" then %> selected  <% end %>>Answered</option>
      <option value="Closed" <% if @issue.status == "Closed" then %> selected <% end %> >Closed</option>
    </select>
  </p>
  <p>
    Add Image<br/>
    <input id="issue_image" name="issue[image]" size="30" type="file" />
  </p>
  <p>
    Assign to<br/>
    <%# @users = User.find_all_by_user_id(2422,:order => 'login') %>
    <% @users = User.all(:order => 'login')%>
    <% @users = User.all(:order => 'login') %>
    <select name="issue[assigned_to]">
      <% @users.each do |user| %>
        <option value="<%= user.id%>" <% if @issue.assigned_to == user.id then %> selected <% end %>><%= user.login %></option>
      <% end %>
    </select>
  </p>
  <hr/>
  
  <div id="div_bug_cancel">
    <p>
      <input id="issue_submit" name="commit" type="submit" value="Update" />
       <div id="bug_bug_cancel">
      <a id="bug_cancel" href="/issues/destroy/<%= @issue.id%>">Destroy</a>
       </div>
    </p>
  </div>
</form>

