<h3>Edit Details for <%= @user.login %></h3>
<form action="/issues/update_user_details/<%= current_user.id %>" method="post" enctype="multipart/form-data">
Id: <%= @user.id %>
<br/><br/>
Name:<input type="text" value="<%= @user.login %>" name="user[login]"/>
<br/><br/>
Email:<input type="text" value="<%= @user.email %>" name="user[email]"/>
<br/><br/>
Profile Picture:<br/>
<% if !@user.profile_file_size.nil? %>
<%= image_tag @user.profile.url(:thumb) %>
<br/><br/>
<% end %>
<input type="file" name="user[profile]"/>
<br/><br/>
<input type="submit" value="Save Changes"/>
<br/><br/>
</form>
