<%= stylesheet_link_tag 'my_style' %>
<%= stylesheet_link_tag 'my_bugs' %>
<div id="my_issues_header">
  <div id="my_issues_title">
    <div class="my_issues_title_left">
      <b>My Bugs</b>
    </div>
    <%= render :partial => "my_panel"%>
  </div>
  <div id="my_issues_title_bottom">
    <a href="/issues/user_issues/<%=current_user.id %>">Show Everyone's Issues</a>
  </div>
</div>
<h3>Bugs</h3>
<%= render :partial => "bugs"%>