<%= stylesheet_link_tag 'my_issues' %>
<%= stylesheet_link_tag 'my_everything' %>
<%= stylesheet_link_tag 'my_style' %>
<div id="my_issues_header">
  <div id="my_issues_title">
    <div class="my_issues_title_left">
      <b>My Issues</b>
    </div>
    <%= render :partial => "my_panel"%>
  </div>
  <div id="my_issues_title_bottom">
    <a href="/issues/user_issues/<%=current_user.id %>">Show Everyone's Issues</a>
  </div>
</div>

  <h3>Bugs</h3>
  <%= render :partial => "bugs"%>

  <h3>Features</h3>
  <%= render :partial => "features"%>

  <h3>Enhancements</h3>
  <%= render :partial => "enhancements"%>

  <h3>Tasks</h3>
  <%= render :partial => "tasks"%>

  <h3>Questions</h3>
  <%= render :partial => "queries"%>