<%= stylesheet_link_tag 'my_style' %>
<%= stylesheet_link_tag 'new_bug' %>
<h3>Add New</h3>
  <ul class="nav_list_ul">
     <li><a href="/issues/new">Bug</a></li>
     <li><a href="/issues/new_feature/<%= current_user.id%>"> Feature</a></li>
     <li><a href="/issues/new_enhancement/<%= current_user.id%>">Enhancement</a></li>
     <li><a href="/issues/new_task/<%= current_user.id%>">Task</a></li>
     <li><a id="new_query"href="/issues/new_query/<%= current_user.id%>">Query</a></li>
</ul>
<div class="clearfix"></div>
<form name="newissue" action="/issues/create" class="new_issue" enctype="multipart/form-data" id="new_issue" method="post">
  <p>
    Description<br/>
    <textarea cols="58" id="issue_detailed_description" name="detailed_description" rows="2"></textarea>
  </p>
  <p>
    Add Image<br/>
    <input id="issue_image" name="issue[image]" size="30" type="file" />
  </p>
  <p>
    Assign to<br/>
    <%  @users = User.all(:order => 'login')%>
    <select name="issue[assigned_to]" style="width: 150px">
      <% @users.each do |user| %>
        <option value="<%= user.id%>"><%= user.login %></option>
      <% end %>
    </select>
  </p>
  <hr/>
  <p>
    <input type="hidden" name="issue[issue_type]" value="Query" />
  </p>
  <div id="div_bug_cancel">
    <p>
      <input id="issue_submit" name="commit" type="submit" value="Add Query" />
      or <a id="bug_cancel" href="/issues/user_issues/<%= current_user.id%>">Cancel</a>
    </p>
  </div>

</form>