        <div class="writeboardtitle">
          <a id="home" href="/issues/user_issues/<%= current_user.id %>">Home</a>
          <h3><%=h @issue.short_description %></h3>
          <br/><br/>
          <% if @user.login != current_user.login %>
              Assigned to <%=h @user.login%>
          <% end %>
        </div>
        <hr/>
        <div class="detailed_desciption">
          <%if @issue.image.exists? %>
            <%= image_tag @issue.image.url(:medium) %>
          <%end%>
          <% if !@issue.detailed_description.nil? %>
          <p>
            <%#= RedCloth.new(@issue.detailed_description).to_html %>
            <%= @issue.detailed_description.gsub("\n","<br/>") %>
          </p>
          <% end %>
          <form action="/issues/reassign/<%= @issue.id %>" class="reassign" enctype="multipart/form-data" id="reassign" method="post">
            <p>
             <%# @users = User.find_all_by_user_id(2422,:order => 'login') %>
             <% @users = User.all(:order => 'login') %>
              <select name="issue[assigned_to]">
                <% @users.each do |user| %>
                 <option value="<%= user.id%>" <% if @issue.assigned_to == user.id then %> selected <% end %>><%= user.login %></option>
                <% end %>
              </select>
              <input id="reassign_issue" name="commit" type="submit" value="Reassign" />
            </p>
          </form>
       </div>
        <div id="comments">
          <% if !@posts.nil? %>
            <div class="comment">
              <h2 class="title">
                <table>
                  <% @posts.each do |post|
                    user = User.find_by_id(post.user_id) %>
                    <tr>
                      <td valign="top" width="42">
                        <% if user.profile.exists? %>
                          <%= image_tag user.profile.url(:thumb) %>
                        <% end %>
                      </td>
                      <td>
                        <label title="<%= post.id %>"><%= user.login %></label>
                        <p>
                          <%#= RedCloth.new(post.message).to_html %>
                          <%= post.message.gsub("\n","<br/>") %>
                        </p>
                      </td>
                    </tr>
                  <%end%>
                </table>
              </h2>
            </div>
          <%end%>
          <div id="newcomment">
            <form name="newpost" action="/posts/create/<%= @issue.id %>" method="post">
              <textarea cols="60" id="message" name="message" rows="5"></textarea><br />
              <input id="submit" name="commit" type="submit" value="Submit Comment" />
            </form>
          </div>
        </div>
        

