<%= stylesheet_link_tag 'user_issues' %>
<%= stylesheet_link_tag 'user_everything' %>
<%= stylesheet_link_tag 'my_style' %>
<div id="my_issues_header">
  <div id="my_issues_title">
    <div class="my_issues_title_left">
      <b>Everyone's Issues</b>
    </div>
    <%= render :partial => "user_panel"%>
  </div>
  <div id="my_issues_title_bottom">
    <a href="/issues/my_issues/<%=current_user.id %>">Show My Issues</a>
  </div>
</div>
<% @users.each do |user|
  @open_bugs = Issue.find_all_by_assigned_to_and_issue_type_and_status(user.id,"Bug","Open",:order => "id DESC")
  @fixed_bugs = Issue.find_all_by_assigned_to_and_issue_type_and_status(user.id,"Bug","Fixed",:order => "id DESC")
  @tested_bugs = Issue.find_all_by_assigned_to_and_issue_type_and_status(user.id,"Bug","Tested",:order => "id DESC")
  @closed_bugs = Issue.find_all_by_assigned_to_and_issue_type_and_status(user.id,"Bug","Closed",:order => "id DESC")

  @open_features = Issue.find_all_by_assigned_to_and_issue_type_and_status(user.id,"Feature","Open",:order => "id DESC")
  @devdone_features = Issue.find_all_by_assigned_to_and_issue_type_and_status(user.id,"Feature","Devdone",:order => "id DESC")
  @tested_features = Issue.find_all_by_assigned_to_and_issue_type_and_status(user.id,"Feature","Tested",:order => "id DESC")
  @closed_features = Issue.find_all_by_assigned_to_and_issue_type_and_status(user.id,"Feature","Closed",:order => "id DESC")

  @open_enhancements = Issue.find_all_by_assigned_to_and_issue_type_and_status(user.id,"Enhancement","Open",:order => "id DESC")
  @devdone_enhancements = Issue.find_all_by_assigned_to_and_issue_type_and_status(user.id,"Enhancement","Devdone",:order => "id DESC")
  @tested_enhancements = Issue.find_all_by_assigned_to_and_issue_type_and_status(user.id,"Enhancement","Tested",:order => "id DESC")
  @closed_enhancements = Issue.find_all_by_assigned_to_and_issue_type_and_status(user.id,"Enhancement","Closed",:order => "id DESC")

  @open_tasks = Issue.find_all_by_assigned_to_and_issue_type_and_status(user.id,"Task","Open",:order => "id DESC")
  @done_tasks = Issue.find_all_by_assigned_to_and_issue_type_and_status(user.id,"Task","Closed",:order => "id DESC")

  @open_queries = Issue.find_all_by_assigned_to_and_issue_type_and_status(user.id,"Query","Open",:order => "id DESC")
  @answered_queries = Issue.find_all_by_assigned_to_and_issue_type_and_status(user.id,"Query","Answered",:order => "id DESC")
  issue = Issue.find_all_by_assigned_to(user.id)
%>
  <% if !issue.empty? %>
    <h3><%=h user.login %></h3>
    <%= render :partial => "bugs"%>
    <%= render :partial => "features"%>
    <%= render :partial => "enhancements"%>
    <%= render :partial => "tasks"%>
    <%= render :partial => "queries"%>
  <% end %>
<%end%>