<%= stylesheet_link_tag 'my_style' %>
<%= stylesheet_link_tag 'user_bugs' %>
<div id="my_issues_header">
  <div id="my_issues_title">
    <div class="my_issues_title_left">
      <b>Everyone's Bugs</b>
    </div>
    <%= render :partial => "user_panel"%>
  </div>
  <div id="my_issues_title_bottom">
    <a href="/issues/my_issues/<%=current_user.id %>">Show My Issues</a>
  </div>
</div>
<% @users.each do |user|
  @open_bugs = Issue.find_all_by_assigned_to_and_issue_type_and_status(user.id,"Bug","Open",:order => "id DESC")
  @fixed_bugs = Issue.find_all_by_assigned_to_and_issue_type_and_status(user.id,"Bug","Fixed",:order => "id DESC")
  @tested_bugs = Issue.find_all_by_assigned_to_and_issue_type_and_status(user.id,"Bug","Tested",:order => "id DESC")
  @closed_bugs = Issue.find_all_by_assigned_to_and_issue_type_and_status(user.id,"Bug","Closed",:order => "id DESC")
  issue = Issue.find_all_by_assigned_to(user.id)
%>
<% if !issue.empty? %>
<h3><%=h user.login %></h3>
    <%= render :partial => "bugs"%>
<%end%>
<%end%>
<br/>