<%= stylesheet_link_tag 'user_details' %>
<h3>Users</h3>
<table width="70%">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%=h user.id %></td>
    <td><a href="/issues/user_issues/<%= user.id %>"><%=h user.login %></a></td>
    <td><%=h user.email %></td>
    <%if user.login == current_user.login%>
    <td><a href="/issues/edit_user_details/<%= user.id%>">Edit</a></td>
    <%end%>
  </tr>
<% end %>
</table>
