<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
      <title>Issue Tracker: <%= controller.action_name %></title>
      <%= stylesheet_link_tag 'my_style' %>
      <%= javascript_include_tag :all %>
      <link rel="icon" href="/images/bugz.jpg"/>
      <script type="text/javascript">
        setTimeout("new Effect.Fade('flash_notice');",5000)
      </script>
  </head>
  <body>
    <div id="header">
      <div id="div_upper_left">
        &nbsp;BUGZ
      </div>
      <div id="div_upper_center">
        <a id="my_issues" href="/issues/my_issues/<%=current_user.id %>">To Do</a> |
        <a id="all_issues" href="/issues">All Issues</a> |
        <a id="user_issues" href="/issues/user_issues/<%=current_user.id %>">User Issues</a>
      </div>
      <div id="div_upper_right">
        <a id="current_user" href="/issues/edit_user_details/<%=h current_user.id %>"><%=current_user.login%></a> |
        <a href="/logout">Logout</a>&nbsp;&nbsp;
      </div>
    </div>
    <div id="container">
      <div class="left">
        <div class="col">
          <div class="content">
            <div class="writeboardbody">
              <%=yield%>
            </div>
            <div class="sidebar">
              <% if controller.action_name == "index" or
                  controller.action_name == "my_issues" or
                  controller.action_name == "user_issues"or
                  controller.action_name == "my_bugs" or
                  controller.action_name == "my_features" or
                  controller.action_name == "my_enhancements" or
                  controller.action_name == "my_tasks" or
                  controller.action_name == "my_questions" or
                  controller.action_name == "user_bugs" or
                  controller.action_name == "user_features" or
                  controller.action_name == "user_enhancements" or
                  controller.action_name == "user_tasks" or
                  controller.action_name == "user_questions" 
                %>
                <a id="new_issues" href="/issues/new">New Issue</a>
              <% elsif controller.action_name == "show" %>

                <% if @issue.issue_type =="Bug" %>
                   <%= render :partial => "case_bug" %>
                <% elsif @issue.issue_type =="Feature" %>
                   <%= render :partial => "case_feature_enhancement" %>
                <% elsif @issue.issue_type =="Enhancement" %>
                   <%= render :partial => "case_feature_enhancement" %>
                <% elsif @issue.issue_type =="Task" %>
                   <%= render :partial => "case_task" %>
                <% elsif @issue.issue_type =="Question" %>
                   <%= render :partial => "case_question" %>
                <% end %>

              <%end%>
              <br/><div id="flash_notice"><a><%=h flash[:notice] %></a></div>
            </div>
          </div>
        </div>
        <div class="bottom_strip">&nbsp;</div>
        <div id="footer"></div>
      </div>
      </div>

    </body>
  </html>